*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}



.swiper-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}

.vertical-swiper {
  width: 130px;
  height: 420px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}



.swiper{
  max-width: 400px;
  width: 100%;
  height: 500px;

  .swiper-slide{
    border-radius: 0px;
    width: 400px;
    height: 490px;
   
    .swiper-img{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .swiper-img img{
      width: 100%;
      object-fit: cover;
    }
  }
}

.vertical-img-box{
  width: 100%;
  height: 130px;
  background-color: black;
}

.vertical-img{
  width: 100%;
  object-fit: cover;
}

.product-container {
  background-color: black;
  display: flex;
  width: 100%;
  justify-content: space-between;
 position: relative;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.product-images {
  width: 40%;
  padding-right: 20px;
}

.product-image-main {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-thumbnails {
  display: flex;
  gap: 10px;
}

.thumbnail {
  width: 20%;
  cursor: pointer;
  border-radius: 5px;
}

.product-details {
  padding-left: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-price {
  margin: 15px 0;
  font-size: 18px;
}

.current-price, .sale {
  padding: 3px;
font-size: 28px;
font-weight: 600;
line-height: 34.3px;
}


.old-price, .cost {
  color: black;
font-size: 21px;
padding-top: 10px;
font-weight: 500;
line-height: 25.47px;
text-align: left;
font-weight: bold;

 
}

.product-quantity {
  padding: 15px;
  display: flex;
  align-items: center;
  margin: 10px 0;
  border-bottom: 2px solid gray;
}

.product-quantity button {
font-size: larger;
font-weight: bold;
background-color: white;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid gray;
}

.product-quantity input {
  border-radius: 3px;
  border: 1px solid gray;
  width: 50px;
  text-align: center;
  padding: 5px;
  margin: 0 5px;
}

.rating{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: larger;
  color: rgb(103, 101, 101);
}
.rating img{
  width: 30px;
}
.product-description {
  color: #333;
  margin-bottom: 20px;
}

.product-buttons button {
  padding: 15px 20px;
  margin-right: 10px;
  border: 2px solid  #7000ff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.add-to-cart {
  color: #fff;
  background-color: #7000ff;
  border-radius: 5px;
}

.add-to-favorites {
  color: #7000ff;
  border:  1px solid black;
  border-radius: 5px;
}

.info-box {
  margin-top: 40px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 16px;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.info-item {

  margin-bottom: 12px;
}

.info-item h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.info-item p {
  margin: 4px 0 12px;
  font-size: 14px;
  color: #666;
}

.payment-icons {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.payment-icons img {
  width: 36px; /* Размер иконок можно настроить по своему вкусу */
  height: auto;
}

hr {
  border: 0;
  border-top: 1px solid black;
  margin: 8px 0;
}
