*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

.container{
    max-width: 1440px;
    padding: 10px 30px;
    width: 100%;
    margin: 0 auto;
}

/* ----- M O D A L ----- */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .5)
}

.modal__dialog {
  display: flex;
  max-width: 430px;
  margin: 150px 500px;
}

.modal__content {
  position: relative;
  width: 100%;
  padding: 60px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 14px;
  max-height: 90vh;
  overflow-y: auto
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: .5;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer
}

.modal__title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -.01em;
  line-height: 30px;
}

.modal__text{
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
}

.privacy-text{
  padding-top: 50px;
  text-align: center;
}

.blue-text{
  color: blue;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 28px;
  text-align: center;

}

.modal__input {
  display: block;
  margin: 20px auto 20px auto;
  width: 290px;
  height: 40px;
  background: #edeff2;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  text-align: center;
  padding: 0 20px;
  outline: 0;
}

.modal .btn {
  display: block;
  width: 280px;
  padding: 10px;
  color: white;
  font-weight: 600;
  font-size: larger;
  margin: 0 auto;
  border-radius: 12px;
  border: none;
  background-color: #7000ff;
  
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
      opacity: 0.1;
  }

  to {
      opacity: 1;
  }
}

/* ----- M O D A L ----- */


/* ----- S W I P E R ----- */

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
    margin-top: 50px;
  width: 100%;
  height: 474px;

  .swiper-button-next,
  .swiper-button-prev {
      width: 32px;
      height: 32px;
      background-color: transparent;
      border-radius: 50%;
      border: 3px solid white;
      opacity: .5;
      &::after {
          font-size: 18px;
          font-weight: 700;
          color: white;
      }
    
  }
}

.swiper-slide {
 
    font-family: Inter;
 border-radius: 12px ;
  
  font-size: 18px;
  background: linear-gradient(87deg, #9643ff 1.53%, #5200ba 98.76%);
 color: white;
  .swiper-box{
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  .info-swipe{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 15px;
    text-align: left;
  }
  
}

  .swiper-img{
    width: 100%;
    height: 390px;
    object-fit: cover;
  }

/* ----- S W I P E R ----- */


.place{
  margin-top: 40px;

  .place__title{
    color: var(--text-primary);
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  }
}
.place__items{
  padding-bottom: 30px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.item{
  width: 100%;
  max-width: 230px;
  height: 100%;
  border-radius: 8px;
  position: relative;
  .img-box{
    background-color: #d1d1d2;
    display: block;
    border-radius: 12px;
    width: 100%;
    height: 290px;
    overflow: hidden;
    box-shadow: 0 0 0 3px rgb(224, 224, 224);
    cursor: pointer;
  
    img{
      max-width: 100%;
      height: 100%;
    width: 100%;
    object-fit: contain;
    transition: all 0.25s;
    }
   
    img:hover {
      transform: scale(1.1); 
      transition: all 0.25s;
  }
   
  }



.like-icon {
  position: absolute;
  top: 5px;
  left: 200px;
background: none;
border: 0;
cursor: pointer;
  cursor: pointer;
  transition: transform 0.3s ease; 
}

.like-icon svg {
  width: 25px;
  height: auto;
  color: gray; 
}

.like-icon.fill svg {
  fill: #7000FF;
  color: #7000FF;
}


  .info{
    height: 150px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 0px 8px;
  position: relative;
  user-select: none;
  cursor: pointer;
  .title{
    font-family: Inter;
  font-size: 14.8px;
  line-height: 15.36px;
  max-height: 43px;
 
  }


  .rating{
    display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 4px;
  color: #8b8e99;
  font-family: Inter;
  font-size: 11.2px;
  font-weight: 300;

  img{
    width: 15px;
  }

  p{
    color: #8b8e99;
  font-family: Inter;
  font-size: 11.2px;
  font-weight: 300;
  cursor: pointer;
  }
  }

  .cost-box{
    margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;

  .cost{
    font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: var(--text-primary);
  }
  }

  .add-cart{
    position: absolute;
  right: 2px;
  bottom: 8px;
  background: none;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 0 1px rgba(54, 54, 64, 0.2);
  width: 35px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  }
  }
}
