*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

.container{
    max-width: 1440px;
    padding: 10px 50px;
    width: 100%;
    margin: 0 auto;
}


.place{
  margin-top: 40px;

  .place__title{
    color: var(--text-primary);
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  }
}
.place__items{

  margin-top: 40px;
  .item-box{
    padding-bottom: 30px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
}

.item{
  width: 100%;
  max-width: 250px;
  height: 100%;
  border-radius: 8px;
  position: relative;
  .img-box{
    background-color: white;
    display: block;
    border-radius: 12px;
    width: 100%;
    height: 290px;
    overflow: hidden;
    box-shadow: 0 0 0 3px rgb(224, 224, 224);
    cursor: pointer;
  
    img{
      max-width: 100%;
      height: 100%;
    width: 100%;
    object-fit: contain;
    transition: all 0.25s;
    }
   
    img:hover {
      transform: scale(1.02); 
      transition: all 0.25s;
  }
   
  }



.like-icon {
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 213px;
background: none;
border: 0;
cursor: pointer;
  cursor: pointer;
  transition: transform 0.3s ease; 
}

.like-icon svg {
  width: 25px;
  height: auto;
  color: gray; 
}

.like-icon.fill svg {
  fill: #7000FF;
  color: #7000FF;
}


  .info{
    height: 150px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 0px 8px;
  position: relative;
  user-select: none;
  cursor: pointer;
  .title{
    font-family: Inter;
  font-size: 14.8px;
  line-height: 15.36px;
  max-height: 43px;
 
  }


  .rating{
    display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 4px;
  color: #8b8e99;
  font-family: Inter;
  font-size: 11.2px;
  font-weight: 300;

  img{
    width: 15px;
  }

  p{
    color: #8b8e99;
  font-family: Inter;
  font-size: 11.2px;
  font-weight: 300;
  cursor: pointer;
  }
  }

  .cost-box{
    margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;

  .cost{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .sale{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

  }
  }

  .add-cart{
    position: absolute;
  right: 2px;
  bottom: 8px;
  background: none;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 0 1px rgba(54, 54, 64, 0.2);
  width: 35px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  }
  }
}

.show-btn{
  display: flex;
  align-items: center;
  justify-content: center;

  button{
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #dcdcdd;
    border: none;
    font-size: 17px;
    font-weight: 500;
    font-family: Inter;
    padding: 8px 120px;

    a{
      text-decoration: none;
      color: black;
    }
  }
}

