*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

.container{
    max-width: 1440px;
    padding: 10px 30px;
    width: 100%;
    margin: 0 auto;
}



/* ------- H E A D E R ------*/
header{
  width: 100%;
}

.header-box{
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first_header{
  background-color: #f0f2f5;
  width: 100%;
  height: 35px;
  cursor: pointer;

  .left-header-cont,
  .right-header-cont{

      display: flex;
      align-items: center;
      gap: 25px;

      .city-option,
      .punkt-vidachi
      {
          color: black;
      }

      .sale-in-uzum{
          text-decoration: none;
      }

      .none-decoration{
          color: black;
          text-decoration: none;
      }

    
  }
}
.active:hover{
  background-color: #d4d5d6;
  padding: 10px;
  transition: all 0.3s ease;
 }
.dropbtn {
border-radius: 4px;
  background-color: #EAEAF9;
  color: #3333CC;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropbtn {
  background-color: #d9d9f4;
}


.second-header{
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.none-decoration{
  color: black;
  text-decoration: none;
}
.form-box{
  cursor: pointer;
  display: flex;
  align-items: center;

  input{
    padding: 5px 10px;
    width: 600px;
    height: 37px;
    border-radius: 0px;
    border: 2px solid #f0f2f5;
  }

  button{
    width: 48px;
    height: 37px;
    border: none;
    border-radius: 0px;
    background-color: #f0f2f5;
  }
}

.user-box,
.basket-box,
.fav-box
{
  display: flex;
  align-items: center;
  gap: 6px;

  img{
    width: 18px;
  }
}

.favourite,
.korzina,
.user-name
{
  cursor: pointer;
font-weight: 500;
line-height: 14.56px;
}

.quantity{
  background-color: #7000FF;
  padding: 3px 6px;
  color: white;
  border-radius: 3px;
}

